<!DOCTYPE html>
<html>
  <head>
    <title>TTI</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>TTI</h1>
    <p>Welcome to <%= title %></p>
    <footer>&copy 2024 - GOGOGO</footer>
  </body>
</html>
