<!-- Top -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/main">TTI</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my">My Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- center -->
<!-- Masthead-->
<header class="masthead">
  <div class="container h-50">
    <div
      class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
    >
      <!-- 설명란 -->
      <div class="col-lg-12 align-self-end mt-3 px-4">
        <h2 class="text-white font-weight-bold">이미지를 생성해 보세요.</h2>
        <p class="text-white-75 mb-3">
          텍스트 설명을 통해 독창적이고 사실적인 이미지와 예술 작품을 만들어
          보세요.
        </p>
        <p class="text-white-50 mb-3">예시 : 아름다운 바다 풍경 클림트풍</p>
      </div>

      <!-- 입력란 -->
      <div class="px-lg-10">
        <form class="promptForm" method="post" action="/create">
          <!-- 프롬프트-->
          <div class="row mb-2 container-lg">
            <div class="col-lg-12">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingPrompt"
                name="prompt"
                placeholder="텍스트를 입력하세요."
              />
            </div>
          </div>

          <!-- 선택 및 버튼  -->
          <div class="row mb-2 container-lg">
            <!-- 선택  -->
            <div class="col-lg-12">
              <div class="row">
                <!-- AI 모델 종류 -->
                <div class="col-4">
                  <select
                    name="version"
                    id="ai_model_version"
                    class="form-select rounded-3"
                  >
                    <option value="" selected>AI 모델</option>
                    <option value="dall-e-2">DALL-E-2</option>
                    <option value="dall-e-3">DALL-E-3</option>
                  </select>
                </div>
                <!-- 이미지 크기 -->
                <div class="col-4">
                  <select
                    name="size"
                    id="img_size"
                    class="form-select rounded-3"
                  >
                    <option value="" selected>이미지 크기</option>
                    <option value="512x512">512x512</option>
                    <option value="1024x1024">1024x1024</option>
                    <option value="1792x1024">1792x1024</option>
                  </select>
                </div>
                <!-- 생성 버튼 -->
                <div class="col-4">
                  <button class="btn rounded-3 btn-dark" type="submit">
                    Generate
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- 이미지 출력란 샘플-->
      <div class="col-lg-12 mb-3">
        <img class="img-fluid" src="<%=imageURL%>" alt="..." />
      </div>

      <!-- 이동 버튼 -->
      <div class="col-12">
        <a class="a-lg text-white" href="/my">My Page 이동</a>
      </div>
    </div>
  </div>
</header>

<script>
  //저장완료 메시지 전달
  var result = '<%=result%>';

  if (result.length > 0) {
    alert(result);
  }
</script>

<title>Create</title>
