<!-- Top -->
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">TTI</a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- center -->
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div
      class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-lg-8 align-self-end">
        <h2 class="text-white font-weight-bold">
          텍스트로 이미지를 만들어보세요!
        </h2>
        <p class="text-white-75 mb-4">
          텍스트를 통해 환상적이고 사실적인 이미지와 예술작품을 만들 수
          있습니다.
        </p>
      </div>

      <div>
        <img class="img-fluid" src="assets/img/home/img01.png" alt="..." />
      </div>

      <div class="col-lg-8 align-self-baseline mt-5">
        <a class="a-lg text-white" href="/login">시작하기!</a>
      </div>
    </div>
  </div>
</header>

<!-- Portfolio-->
<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div
        class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
      >
        <div class="col-lg-8 align-self-end mb-6 mt-6">
          <h2 class="text-white font-weight-bold">작품을 공유하세요!</h2>
          <p class="text-white-75 mb-3">
            다른 사람들의 작품을 감상하고, 나만의 작품을 다른 사람들과 함께 공유
            할 수 있습니다.
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/1.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/1.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/2.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/2.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/3.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/3.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/4.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/4.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/5.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/5.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/6.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/6.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/1.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/1.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          href="assets/img/portfolio/fullsize/2.jpg"
          title="Project Name"
        >
          <img
            class="img-fluid"
            src="assets/img/portfolio/thumbnails/2.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Category</div>
            <div class="project-name">Project Name</div>
          </div>
        </a>
      </div>

      <div
        class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
      >
        <div class="col-lg-8 align-self-baseline mb-6 mt-6">
          <a class="a-lg text-white" href="/login">더 많은 작품 보러가기!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<title><%=title %></title>
